*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    height: 200vh;
}

.navbar-brand {
    font-size: 24px;
    color: #10889d;
    text-decoration: none;
    font-weight: 700;
}

.search-bar {
    display: flex;
    flex: 1;
    margin: 0 20px;
}
.search-bar input:focus{
    outline: none;
}
.search-bar input {
    width: 100%;
    padding: 10px;
    border: 2px solid #eaeaea;
    border-radius: 4px;
}

.navbar-links {
    display: flex;
    align-items: center;
}

.navbar-links a {
    text-decoration: none;
    color: #007bff;
    margin-right: 20px;
}
.navbar-links .daftar{
    color: white;
}
.masuk{
    border: 1px solid #10889d;
    padding: 8px 16px;
    border-radius: 4px;
}
.daftar {
    background-color: #10889d;
    color: rgb(255, 255, 255);
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 4px;
}

#kategori{
    color: black;
    text-decoration: none;

}

.hal1{
    padding-top: 100px;
}